@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  align-items: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  z-index: 1000000;
}

.header__navbar {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar .header__logo {
  display: flex;
  align-items: center;
  margin-right: 24px;
  gap: 10px;
}
.header__navbar .header__logo .header__logo__2 {
  display: none;
}
@media (min-width: 768px) {
  .header__navbar .header__logo .header__logo__2 {
    display: block;
  }
}
.header__navbar .header__search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 20px;
}
.header__navbar .header__search__btn {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  display: none;
}
@media (min-width: 450px) {
  .header__navbar .header__search__btn {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__navbar .header__search__btn #navbar-open {
    border: none;
    background: transparent;
  }
  .header__navbar .header__search__btn a {
    display: none;
  }
}
@media (min-width: 450px) and (min-width: 768px) {
  .header__navbar .header__search__btn a {
    display: block;
    color: var(--main-on-secondary, #fff);
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}
.header__navbar input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
}
.header__navbar .search {
  position: absolute;
  right: 10px;
  top: 8px;
}
.header__navbar .header__right {
  margin-left: 10px;
  display: flex;
  background-color: white;
}
.header__navbar .header__right .header__nav__link {
  display: none;
}
@media (min-width: 450px) {
  .header__navbar .header__right .header__nav__link {
    display: flex;
    gap: 16px;
  }
}
.header__navbar .header__right .header__nav__link .footer__menu {
  display: none;
}
.header__navbar .header__right .header__nav__link .header__nav__Content {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}
.header__navbar .header__right .header__nav__link .header__nav__Content:hover {
  box-shadow: inset -10px -10px 15px rgba(211, 211, 211, 0.749), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.header__navbar .header__right .header__nav__link .header__nav__Content a {
  display: flex;
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header__navbar .header__right .header__nav__profile {
  position: relative;
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__navbar .header__right .header__nav__profile {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.header__navbar .header__right .header__nav__profile .modal-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
}

.header.sticky {
  padding: 8px;
  height: 80px;
  background: rgba(255, 255, 255, 0.8862745098);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 22px 5px -19px rgba(118, 118, 118, 0.75);
  z-index: 10;
  width: 100%;
}

.navbar-responsive {
  display: none;
  position: absolute;
  background: #fff !important;
  left: 2px;
  right: 2px;
  transition: 0.5s;
}

.hidden {
  display: block;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  padding: 40px 70px;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  row-gap: 24px;
  border-radius: 15px;
}
@media (max-width: 900px) {
  .hidden {
    grid-template-columns: repeat(3, 4fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 900px) {
  .hidden {
    grid-template-columns: repeat(3, 4fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 600px) {
  .hidden {
    grid-template-columns: repeat(2, 6fr);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.hidden a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.hidden a:hover {
  color: #026a8d;
}
.hidden a:active {
  color: var(--main-primary, #f63);
}
@media (max-width: 500px) {
  .hidden a {
    font-size: 14px;
  }
}

.header__nav__Content {
  position: relative;
}
.header__nav__Content .card-total {
  padding: 3px;
  position: absolute;
  top: 0;
  right: 3px;
  color: #fff;
  background: #ba0707;
  border-radius: 30%;
  font-size: 13px;
  font-weight: 710;
}
.header__nav__Content .favorites-total {
  padding: 3px;
  position: absolute;
  top: 0;
  right: 3px;
  color: #fff;
  background: #ba0707;
  border-radius: 30%;
  font-size: 13px;
  font-weight: 710;
}

.footer {
  padding: 24px 0;
  background: url("../../images/home/footer-bg.png") no-repeat rgb(249, 244, 226);
  background-size: cover;
}
@media (max-width: 450px) {
  .footer {
    margin-bottom: 55px;
  }
}
.footer .footer__wrapper {
  display: flex;
}
.footer .footer__wrapper .footer__wrapper__aside {
  display: flex;
  width: 100%;
  gap: 40px;
}
@media (max-width: 900px) {
  .footer .footer__wrapper .footer__wrapper__aside {
    flex-wrap: wrap;
  }
}
.footer .footer__wrapper .footer__wrapper__aside img {
  display: flex;
  align-items: center;
}
.footer .footer__wrapper .footer__wrapper__aside a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  transition: 0.3s;
}
.footer .footer__wrapper .footer__wrapper__aside a:hover {
  color: #1da1f2;
  transform: scale(1.1) skewx(5deg);
}
.footer .footer__wrapper .footer__wrapper__bside {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact .footer__contact__tell {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact .footer__contact__tell a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact .footer__contact__diz {
  display: flex;
  gap: 8px;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact .footer__contact__diz img {
  width: 100%;
}
.footer .footer__wrapper .footer__wrapper__bside .footer__contact .footer__contact__diz p {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.icons {
  display: flex;
  gap: 16px;
  align-items: baseline;
  padding-left: 0;
}
@media (max-width: 900px) {
  .icons {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 450px) {
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

.icons a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.icons a .layer {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.icons a .layer span.fab {
  padding-left: 3px;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #e1306c;
  border-color: #e1306c;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #1da1f2;
  border-color: #1da1f2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #4267b2;
  border-color: #4267b2;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #ff0000;
  border-color: #ff0000;
}

.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}

.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #1da1f2;
}

.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}

.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}

.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
  bottom: -20px;
  opacity: 1;
}

.footer__mobile {
  padding: 8px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #fff;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  z-index: 100;
  display: none;
}
@media (max-width: 450px) {
  .footer__mobile {
    display: block;
  }
}
.footer__mobile .footer__nav__link {
  display: flex;
  justify-content: space-between;
}
.footer__mobile .footer__nav__link .header__nav__Content {
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: 0.5s;
  cursor: pointer;
}
.footer__mobile .footer__nav__link .header__nav__Content:hover {
  box-shadow: inset -10px -10px 15px rgba(211, 211, 211, 0.749), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.footer__mobile .footer__nav__link .header__nav__Content a {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 8px;
  line-height: 150%; /* 12px */
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background: rgba(252, 213, 186, 0.8);
  z-index: -1;
  opacity: 0;
}
.modal .modal-content {
  top: -500px;
  position: relative;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #fff;
  transition: all 0.5s;
}
.modal .modal-content .modal-close-btn {
  background: transparent;
  border: none;
  color: #70c05b;
}
.modal .modal-content .modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal .modal-content .modal-content-form {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.modal .modal-content .modal-content-form h3 {
  margin-bottom: 32px;
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.modal .modal-content .modal-content-form span {
  color: var(--grayscale-hard, #8f8f8f);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.modal .modal-content .modal-content-form input {
  margin-bottom: 32px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
}
.modal .modal-content .modal-content-form input:nth-child(4) {
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  color: var(--main-primary, #f63);
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  cursor: pointer;
}
.modal .modal-content .modal-form-links {
  display: flex;
  align-items: center;
  display: flex;
  gap: 16px;
}
.modal .modal-content .modal-form-links button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: transparent;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal-content .modal-form-links a {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal__gocontent {
  transition: all 0.5s;
  position: relative;
  top: 0;
}

.modal-active {
  transition: all 0.5s;
  opacity: 1;
  z-index: 11111111111111;
}

.vacancies {
  margin-top: 80px;
  padding-top: 27px;
  padding-bottom: 80px;
  background: var(--main-bg-page, #fbf8ec);
}
.vacancies .vacancies__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.vacancies .vacancies__links a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.vacancies .vacancies__links a:last-child {
  color: var(--grayscale-hard, #8f8f8f);
}
.vacancies .vacancies__title {
  margin-top: 27px;
  margin-bottom: 60px;
}
.vacancies .vacancies__title h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 500px) {
  .vacancies .vacancies__title h3 {
    color: var(--main-on-surface, #414141);
    font-family: "Rubik";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
.vacancies .vacancies__box {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px;
}
@media (max-width: 650px) {
  .vacancies .vacancies__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.vacancies .vacancies__box .vacancies__box__card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.vacancies .vacancies__box .vacancies__box__card h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 850px) {
  .vacancies .vacancies__box .vacancies__box__card h3 {
    color: var(--main-on-surface, #414141);
    font-family: "Rubik";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}
.vacancies .vacancies__box .vacancies__box__card h5 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 850px) {
  .vacancies .vacancies__box .vacancies__box__card h5 {
    font-size: 16px;
  }
}
.vacancies .vacancies__box .vacancies__box__card p {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media (max-width: 850px) {
  .vacancies .vacancies__box .vacancies__box__card p {
    font-size: 12px;
  }
}
.vacancies .vacancies__box .vacancies__box__card .vacancies__tel {
  display: flex;
  align-items: center;
  gap: 10px;
}
.vacancies .vacancies__box .vacancies__box__card .vacancies__tel a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-decoration-line: underline;
}