@use "../global";

.basket {
  margin-top: 80px;
  padding-top: 24px;
  margin-bottom: 80px;
  .basket-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .bascet__card {
      display: flex;
      align-items: center;
      gap: 40px;

      .basket__card__img {
        img {
          border-radius: 15px 0 0 15px;
          width: 80px;
          height: 60px;
        }
      }
      .basket__card__content {
        padding: 8px;
        display: flex;
        align-items: center;
        border: 2px solid #70c05b;
        background: #fffefe;
        border-radius: 15px;
        overflow: hidden;
        .basket__card__content__text {
          max-width: 300px;
          margin-right: 10px;
          h3 {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
          }
          p {
            padding-top: 3px;
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
          }
        }
        p {
          color: var(--main-on-surface, #060606);
          font-family: "Rubik";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }

        span {
          padding: 10px;
          font-size: 15px;
          // background: #000;
          border-radius: 15px;
          // color: aliceblue;
        }
        button {
          width: 30px;
          border-radius: 4px;
          font-size: 25px;
          background: var(--main-secondary, #70c05b);
          outline: none;
          border: 2px solid #ffffff;
          color: #fffbfb;
          &:active {
            color: #060606;
            border-color: #060606;
          }
          &:nth-child(3) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
