@use "../global";

.basket {
  margin-top: 80px;
  padding-top: 24px;
  margin-bottom: 80px;
  .basket-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .bascet__card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      @media (max-width: 650px) {
        flex-direction: column;
        align-items: start;
      border-bottom: 2px solid #888;

      }
      .basket__card__img {
        img {
          border-radius: 15px 0 0 15px;
          width: 100%;
          @media (max-width: 650px) {
            border-radius: 15px;
            padding-left: 30px;
          }
        }
      }
      .basket__card__content {
        padding: 50px;
        border: 2px solid #8888;
        background: #fffefe;
        border-radius: 15px;
        overflow: hidden;
        @media (max-width: 650px) {
          border: none;
        }
        h3 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 27px */
        }
        p {
          max-width: 300px;
          padding-top: 10px;
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          &:nth-child(3) {
            color: var(--main-on-surface, #060606);
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }
        }

        span {
          padding: 10px;
          font-size: 15px;
          // background: #000;
          border-radius: 15px;
          // color: aliceblue;
        }
        button {
          margin-top: 10px;
          width: 30px;
          border-radius: 15px;
          font-size: 25px;
          background: transparent;
          outline: none;
          border: 2px solid #888888;
          color: #888;
          &:active {
            color: #060606;
            border-color: #060606;
          }
        }
      }
    }
  }
}
