@use "../global";
@use "../utils/mixins" as mxn;

.home {
  margin-top: 80px;
  background: url("../../images/home/home-section.png") no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 450px) {
    margin-top: 50px;
  }
  .home__wrapper {
    display: flex;
    align-items: center;
    .home__wrapper__aside {
      img {
        width: 100%;
        @media (max-width: 450px) {
          display: none;
        }
      }
    }
    .home__wrapper__bside {
      h1 {
        color: var(--main-on-surface, #414141);
        text-align: center;
        font-family: "Rubik";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        @media (max-width: 768px) {
          font-size: 25px;
        }
        @media (max-width: 450px) {
          text-align: center;
          padding: 28px 0;
          font-size: 18px;
        }
      }
    }
  }
}

.kategory {
  background: var(--main-bg-page, #fbf8ec);
  padding-top: 80px;
  padding-bottom: 120px;
  .stock__wrapper {
    .stock__wrapper__texts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 40px;
      h3 {
        @include mxn.h3-title(36px);
        @media (max-width: 450px) {
          @include mxn.h3-title(24px);
        }
      }
      a {
        color: var(--grayscale-hardest, #606060);
        text-align: center;
        font-family: "Rubik";
        font-size: 16px;
        line-height: 150%; /* 24px */
        &::after {
          padding-left: 10px;
          content: "▼";
        }
        @media (max-width: 450px) {
          font-size: 16px;
        }
      }
    }
    .discount-products-row {
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      gap: 40px;
      @media (max-width: 1150px) {
        flex-wrap: wrap;
        gap: 25px;
      }
      @media (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
      }
      @media (max-width: 450px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .products__card {
        position: relative;
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          border-radius: 4px;
          background: var(--main-surface, #fff);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
        }
        @media (max-width: 850px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
        .product__card__body {
          img {
            border-radius: 4px;
            width: 100% !important;
          }
        }

        .products__Card__Footer {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 8px;
          .like__Btns {
          position: absolute;
          right: 2px;
          top: 2px;
          display: flex;
          align-items: center;
          width: 40px;
          height: 35px;
          background: #ffffff71;
          border-color: #000;
          font-size: 25px;
        }
          a {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
          p {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
          }
          button {
            padding: 8px;
            width: 100%;
            background: transparent;
            border-radius: 4px;
            border: 1px solid var(--main-secondary, #70c05b);
            color: var(--main-secondary, #70c05b);
            text-align: center;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            transition: 0.3s;
            &:active {
              background: var(--main-primary, #f63);
              color: #fff;
            }
          }
        }
      }
    }
    .new-products-row {
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      gap: 40px;

      @media (max-width: 1150px) {
        flex-wrap: wrap;
        gap: 25px;
      }
      @media (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
      }
      @media (max-width: 450px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .products__card {
        position: relative;
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          border-radius: 4px;
          background: var(--main-surface, #fff);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
        }
        @media (max-width: 850px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
        .product__card__body {
          img {
            border-radius: 4px;
            width: 100% !important;
          }
        }

        .products__Card__Footer {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 8px;
          .like__Btns {
          position: absolute;
          right: 2px;
          top: 2px;
          display: flex;
          align-items: center;
          width: 40px;
          height: 35px;
          background: #ffffff71;
          border-color: #000;
          font-size: 25px;
        }
          a {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
          p {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
          }
          button {
            padding: 8px;
            width: 100%;
            background: transparent;
            border-radius: 4px;
            border: 1px solid var(--main-secondary, #70c05b);
            color: var(--main-secondary, #70c05b);
            text-align: center;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            transition: 0.3s;
            &:active {
              background: var(--main-primary, #f63);
              color: #fff;
            }
          }
        }
      }
    }
    .popular-products-row {
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      gap: 40px;

      @media (max-width: 1150px) {
        flex-wrap: wrap;
        gap: 25px;
      }
      @media (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
      }
      @media (max-width: 450px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .products__card {
        position: relative;
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          border-radius: 4px;
          background: var(--main-surface, #fff);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
        }
        @media (max-width: 850px) {
          width: 100%;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
        .product__card__body {
          img {
            border-radius: 4px;
            width: 100% !important;
          }
        }

        .products__Card__Footer {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 8px;
          .like__Btns {
          position: absolute;
          right: 2px;
          top: 2px;
          display: flex;
          align-items: center;
          width: 40px;
          height: 35px;
          background: #ffffff71;
          border-color: #000;
          font-size: 25px;
        }
          a {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
          p {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
          }
          button {
            padding: 8px;
            width: 100%;
            background: transparent;
            border-radius: 4px;
            border: 1px solid var(--main-secondary, #70c05b);
            color: var(--main-secondary, #70c05b);
            text-align: center;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            transition: 0.3s;
            &:active {
              background: var(--main-primary, #f63);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.Special_offers {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
  .Special_offers__wrapper {
    h3 {
      margin-bottom: 40px;
      @include mxn.h3-title(36px);
    }
    .special_offers__cards {
      display: flex;
      gap: 40px;
      @media (max-width: 450px) {
        flex-direction: column;
      }
      .Special_offers__aside {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
        background: var(--main-primary-muted, #fcd5ba);
        box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
        cursor: pointer;
        &:last-child {
          border-radius: 4px;
          background: var(--main-secondary-muted, #e5ffde);
        }
        .Special__aside__texts {
          padding-left: 40px;
          h3 {
            margin-bottom: 6px;
            max-width: 258px;
            @include mxn.h3-title(24px);
            @media (max-width: 800px) {
              @include mxn.h3-title(16px);
            }
          }
          p {
            max-width: 258px;
            // @include mxn.p-text(16px);
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            @media (max-width: 800px) {
              font-size: 12px;
            }
          }
        }
        .Special__aside__img {
          img {
            padding: 8px 31px 8px 0;
            width: 100%;
            @media (max-width: 800px) {
              width: 250px;
            }
          }
        }
      }
      // .Special_offers__bside {
      //   display: flex;
      //   align-items: center;
      //   width: 100%;
      //   height: 200px;
      //   border-radius: 4px;
      //   background: var(--main-secondary-muted, #e5ffde);
      //   box-shadow: 0px 8px 16px 0px rgba(54, 54, 54, 0.5);
      //   cursor: pointer;
      //   .Special__bside__texts {
      //     padding-left: 40px;
      //     h3 {
      //       max-width: 258px;
      //       margin-bottom: 6px;
      //       padding-bottom: 0;
      //       @include mxn.h3-title(24px);
      //       @media (max-width: 800px) {
      //         @include mxn.h3-title(16px);
      //       }
      //     }
      //     p {
      //       max-width: 258px;
      //       color: var(--main-on-surface, #414141);
      //       font-family: "Rubik";
      //       font-size: 16px;
      //       font-style: normal;
      //       font-weight: 400;
      //       line-height: 150%; /* 24px */
      //       @media (max-width: 800px) {
      //         font-size: 12px;
      //       }
      //     }
      //   }
      //   .Special__bside__img {
      //     img {
      //       padding: 8px 31px 8px 0;
      //       width: 100%;
      //     }
      //   }
      // }
    }
  }
}

.location {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 100px;
  .location__wrapper {
    h3 {
      @include mxn.h3-title(36px);
      @media (max-width: 768px) {
        @include mxn.h3-title(24px);
      }
      @media (max-width: 450px) {
        @include mxn.h3-title(18px);
      }
    }
    .tabs {
      .tab__btn {
        margin-top: 40px;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        button {
          padding: 8px;
          border-radius: 4px;
          background: var(--grayscale-lightest, #f3f2f1);
          color: var(--grayscale-hardest, #606060);
          border: none;
          text-align: center;
          font-family: "Rubik";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
        .active-tab {
          border-radius: 4px;
          background: var(--main-secondary, #70c05b);
          color: #fff;
        }
      }
      .tab-contents {
        width: 100%;
        .tab-content {
          iframe {
            width: 100%;
          }
        }
      }
    }
  }
}

.articles {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 80px;
  .articles__wrapper {
    h3 {
      @include mxn.h3-title(36px);
      @media (max-width: 768px) {
        @include mxn.h3-title(24px);
      }
      @media (max-width: 450px) {
        @include mxn.h3-title(18px);
      }
    }
    a {
      color: var(--grayscale-hardest, #606060);
      text-align: center;
      font-family: "Rubik";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      &::after {
        padding-left: 10px;
        content: "▼";
      }
    }
    .articles__wrapper__texts {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
    }
    .articles__wrapper__box {
      display: flex;

      gap: 40px;
      transition: 0.3s;
      @media (max-width: 600px) {
        flex-direction: column;
      }

      .articles__wrapper__box__card {
        width: 100%;
        background: #fff;
        border-radius: 4px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
          rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.035);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
        img {
          width: 100%;
        }
        .articles__card__intro {
          padding: 10px;
          display: block;
          h6 {
            color: var(--grayscale-hard, #8f8f8f);
            font-family: "Rubik";
            font-size: 12px;
            line-height: 150%;
          }
          h5 {
            margin-top: 10px;
            margin-bottom: 10px;
            @include mxn.h5-title-24(18px);
            @media (max-width: 800px) {
              @include mxn.h5-title-24(16px);
            }
          }
          p {
            max-width: 356px;
            margin-bottom: 10px;
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            @media (max-width: 800px) {
              font-size: 12px;
            }
          }
          a {
            padding: 8px;
            border-radius: 4px;
            background: var(--main-secondary-muted, #e5ffde);
            color: var(--main-secondary, #70c05b);
            text-align: center;
            font-family: "Rubik";
            font-size: 16px;
            line-height: 150%;
            &:first-child {
              background: transparent;
              color: var(--main-on-surface, #414141);
              font-family: "Rubik";
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%;
              &:hover {
                background: transparent;
                color: #08210a;
              }
            }
            &:hover {
              background: #70c05b;
              color: #fff;
            }
            &::after {
              content: "";
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}



.active-card {
  background: #f63 !important;
  color: #FFF !important;
  border-color: floralwhite !important;
}
