@use "../global";
@use "../utils/mixins" as mxn;

.katalog {
  background: var(--main-bg-page, #fbf8ec);
  margin-top: 80px;
  padding-bottom: 60px;
  padding-top: 27px;
  .katalog__wrapper {
    .vacancies__links {
      padding-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        color: #414141;
        font-family: "Rubik";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        &:last-child {
          color: var(--grayscale-hard, #8f8f8f);
        }
      }
    }
    h5 {
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    .katalog__row {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      .katalog__card {
        background: linear-gradient(180deg, rgba(112, 192, 91, 0.00) 0%, #70C05B 82.81%);
      }
      img {
        width: 100%;
      }
      .katalog__title {
        h5 {
          a {
            color: var(--main-on-secondary, #fff);
            font-family: 'Rubik';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }
        }
      }
    }
  }
}
