@use "../global";
@use "../utils/mixins" as mxn;

.product__hero {
  background: #fbf8ec;
  margin-top: 80px;
  padding-top: 27px;
  .product__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    a {
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }
    h4 {
      color: var(--grayscale-hard, #8f8f8f);
      font-family: "Rubik";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      cursor: pointer;
    }
  }
  .hero__wrapper {
    padding-top: 27px;
    h3 {
      padding: 15px 0;
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 36px */
    }
    .hero__share {
      padding: 24px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 24px;
      h5 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      h6 {
        color: var(--main-on-surface, #414141);
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
      }
      .hero__share__title {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          color: var(--grayscale-hardest, #606060);
          text-align: center;
          font-family: "Rubik";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
  .hero__backet {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    @media (max-width: 850px) {
      flex-direction: column;
    }

    .hero__basket__aside {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      .basket__imgs {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 7px;
        img {
          max-width: 64px;
          border-radius: 10px;
          cursor: pointer;
        }
      }
      .bascet__img {
        img {
          max-width: 504px;
          border-radius: 10px;
        }
      }
    }
    .hero__basket__bside {
      .basket__bside__price {
        display: flex;
        align-items: center;
        gap: 321px;
        @media (max-width: 650px) {
          gap: 0;
          justify-content: space-between;
        }
        .bside__price__title {
          h5 {
            color: var(--grayscale-hardest, #606060);
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 36px */
          }
          h4 {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 54px */
          }
          p {
            color: var(--grayscale-light, #bfbfbf);
            font-family: "Rubik";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
          }
        }
      }
    }
  }
  .bascet__btn {
    margin-top: 16px;
    padding-bottom: 16px;
    a {
      max-width: 279px;
      display: flex;
      border: 2px solid #f63;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: var(--main-primary, #f63);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      transition: 0.3s ease-out;
      @media (max-width: 850px) {
        max-width: auto;
      }
      &:hover {
        background: rgba(255, 102, 51, 0.452);
        border-color: #414141;
      }
      img {
        padding: 16px 16px 16px 16px;
      }
      p {
        text-align: center;
        color: var(--main-on-primary, #fff);
        text-align: center;
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
        // @media (max-width: 850px) {
        //   // font-size: 18px;
        // }
        // @media (max-width: 450px) {
        //   font-size: 12px;
        // }
      }
    }
  }
  .bascet__bonuses {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
    .bascet__bonuses__title {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      h5 {
        color: var(--main-secondary, #70c05b);
        text-align: center;
        font-family: "Rubik";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
      }
      h4 {
        color: var(--grayscale-hardest, #606060);
        text-align: center;
        font-family: "Rubik";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
      }
    }
  }
  .bascet__brend {
    .brend__title {
      padding: 4px 8px;
      display: flex;
      justify-content: space-between;
      gap: 4px;
      background: var(--grayscale-lightest, #f3f2f1);
      &:nth-child(2) {
        background: transparent;
      }
      h4 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
      }
      h5 {
        text-align: left;
        color: var(--main-on-surface, #414141);
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }
    }
  }
}

.product {
  padding-bottom: 72px;
  background: #fbf8ec;
  .stock__wrapper__texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 40px;
    h3 {
      @include mxn.h3-title(36px);
      @media (max-width: 450px) {
        @include mxn.h3-title(24px);
      }
    }
    a {
      color: var(--grayscale-hardest, #606060);
      text-align: center;
      font-family: "Rubik";
      font-size: 16px;
      line-height: 150%; /* 24px */
      &::after {
        padding-left: 10px;
        content: "▼";
      }
      @media (max-width: 450px) {
        font-size: 16px;
      }
    }
  }
  .stock__boxes {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 768px) {
      gap: 40px;
    }

    @media (max-width: 450px) {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 16px;
    }
    .stock__card {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 4px;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
        .stock__img {
          transform: rotate(2deg) scale(1.1);
        }
      }
      &:first-child {
        @media (max-width: 950px) {
          display: none;
        }
        @media (max-width: 450px) {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      &:hover {
        transform: scaleX(1);
      }
      .stock__img {
        width: 100%;
        transition: 0.3s;
      }
      .stock__card__intro {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        img {
          transition: 0.3s;
        }
        .stock__card__price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .stock__card__price__title {
            h5 {
              @include mxn.h5-title-24(18px);
              @media (max-width: 450px) {
                @include mxn.h5-title-24(14px);
              }
            }
            h6 {
              color: var(--grayscale-hardest, #606060);
              font-family: "Rubik";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              @media (max-width: 450px) {
                @include mxn.h5-title-24(12px);
              }
            }
            p {
              color: var(--grayscale-light, #bfbfbf);
              font-family: "Rubik";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 18px */
              @media (max-width: 450px) {
                font-size: 8px;
              }
            }
          }
        }
        h5 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
        .star {
          width: 100%;
        }
        a {
          @include mxn.btn-premary;
          @media (max-width: 450px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .stock__boxes2 {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 768px) {
      gap: 40px;
    }

    @media (max-width: 450px) {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 16px;
    }
    .stock__card {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 4px;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        border-radius: 4px;
        background: var(--main-surface, #fff);
        box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
        .stock__img {
          transform: rotate(2deg) scale(1.1);
        }
      }
      &:first-child {
        @media (max-width: 950px) {
          display: none;
        }
        @media (max-width: 450px) {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      &:hover {
        transform: scaleX(1);
      }
      .stock__img {
        width: 100%;
        transition: 0.3s;
      }
      .stock__card__intro {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        img {
          transition: 0.3s;
        }
        .stock__card__price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .stock__card__price__title {
            h5 {
              @include mxn.h5-title-24(18px);
              @media (max-width: 450px) {
                @include mxn.h5-title-24(14px);
              }
            }
            h6 {
              color: var(--grayscale-hardest, #606060);
              font-family: "Rubik";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              @media (max-width: 450px) {
                @include mxn.h5-title-24(12px);
              }
            }
            p {
              color: var(--grayscale-light, #bfbfbf);
              font-family: "Rubik";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 18px */
              @media (max-width: 450px) {
                font-size: 8px;
              }
            }
          }
        }
        h5 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
        .star {
          width: 100%;
        }
        a {
          @include mxn.btn-premary;
          @media (max-width: 450px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
