@use "../global";
@use "../utils/mixins" as mxn;

.vacancies {
  margin-top: 80px;
  padding-top: 27px;
  padding-bottom: 80px;
  background: var(--main-bg-page, #fbf8ec);
  .vacancies__links {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      &:last-child {
        color: var(--grayscale-hard, #8f8f8f);
      }
    }
  }
  .vacancies__title {
    margin-top: 27px;
    margin-bottom: 60px;
    h3 {
      @include mxn.h3-title(64px);
      @media (max-width: 500px) {
      @include mxn.h3-title(36px);
    }
    }
    
  }
  .vacancies__box {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .vacancies__box__card {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 4px;
      background: var(--main-surface, #fff);
      box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      h3 {
        @include mxn.h3-title(24px);
        @media (max-width: 850px) {
          @include mxn.h3-title(18px);
        }
      }
      h5 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        @media (max-width: 850px) {
          font-size: 16px;
        }
      }
      p {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        @media (max-width: 850px) {
          // @include mxn.h3-title(18px);
          font-size: 12px;
        }
      }
      .vacancies__tel {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
          text-decoration-line: underline;
        }
      }
    }
  }
}
